.Rproj.user
.Rhistory
.RData
.Ruserdata
supplementary_code/simulation_1/*.RDS
supplementary_code/simulation_2/*.RDS
supplementary_code/simulation_3/*.RDS
supplementary_code/simulation_r/*.RDS
supplementary_code/real_data/*.RDS

supplementary_code/simulation_1/*.pdf
supplementary_code/simulation_2/*.pdf
supplementary_code/simulation_3/*.pdf
supplementary_code/simulation_r/*.pdf
supplementary_code/real_data/*.pdf


supplementary_code/simulation_1/*.jags
supplementary_code/simulation_2/*.jags
supplementary_code/simulation_3/*.jags
supplementary_code/simulation_r/*.jags
supplementary_code/real_data/*.jags

supplementary_code/simulation_r/*.png

supplementary_code/simulation_1/OBSOLETO
supplementary_code/simulation_2/OBSOLETO
supplementary_code/simulation_3/OBSOLETO
supplementary_code/real_data/OBSOLETO
doc
Meta
docs
