.Rproj.user
.Rhistory
.RData
.Ruserdata
supplementary_code/simulation_1/.RDS
supplementary_code/simulation_2/.RDS
supplementary_code/simulation_3/.RDS
supplementary_code/simulation_1/.pdf
supplementary_code/simulation_2/.pdf
supplementary_code/simulation_3/.pdf
